{% extends 'layouts.default' %}

{% block content %}
<div class="flex flex-col w-1/2 mx-auto">

    <h1 class="mt-8 mb-4">{{ __('Register') }}</h1>
                 
    <form method="POST" action="{{ route('register') }}" class="flex flex-col">
        {{ csrf_field() }}

        <label for="name" class="">{{ __('Name') }}</label>
        <input id="name" type="text" class="border px-4 py-2 mb-4{{ errors.has('name') ? ' is-invalid' : '' }}" name="name" value="{{ old('name') }}" required autofocus>

        {% if errors.has('name') %}
            <span class="invalid-feedback">
                <strong>{{ errors.first('name') }}</strong>
            </span>
        {% endif %}
            
        <label for="email" class="">{{ __('E-Mail Address') }}</label>
        <input id="email" type="email" class="border px-4 py-2 mb-4{{ errors.has('email') ? ' is-invalid' : '' }}" name="email" value="{{ old('email') }}" required>

        {% if errors.has('email') %}
            <span class="invalid-feedback">
                <strong>{{ errors.first('email') }}</strong>
            </span>
        {% endif %}

        <label for="password" class="">{{ __('Password') }}</label>
        <input id="password" type="password" class="border px-4 py-2 mb-4{{ errors.has('password') ? ' is-invalid' : '' }}" name="password" required>

        {% if errors.has('password') %}
            <span class="invalid-feedback">
                <strong>{{ errors.first('password') }}</strong>
            </span>
        {% endif %}

        
        <label for="password-confirm" class="">{{ __('Confirm Password') }}</label>
        <input id="password-confirm" type="password" class="border px-4 py-2 mb-4" name="password_confirmation" required>

        <button type="submit" class="inline-block hover:bg-pink bg-pink-light rounded-full ml-auto px-8 py-3 text-sm font-semibold no-underline text-white">
            {{ __('Register') }}
        </button>

    </form>

</div>
{% endblock %}
