<nav class="bg-blue-lightest p-2">
    <div class="flex items-center justify-between flex-wrap container mx-auto">

        <div class="block lg:hidden">
            <button class="flex items-center px-3 py-2 border rounded text-black hover:text-white">
              <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
            </button>
        </div>
        
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="{{ url('listings') }}" class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black mr-4 no-underline">
                Listings
                </a>
                <a href="{{ url('info') }}" class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black mr-4 no-underline">
                Help & info
                </a>
                
            </div>
            <div>
                {% if auth_check() %}
                    <form action="{{ route('logout') }}" method="POST" class="block mt-4 lg:inline-block lg:mt-0 ">
                        {{ csrf_field() }}
                         <button type="submit" class="text-black hover:text-black mr-4 text-sm">
                            Logout
                        </button>
                    </form>
                {% else %}
                    <a href="{{ route('login') }}" class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black mr-4 text-sm no-underline">
                        Login
                    </a>
                {% endif %}

                <a href="{{ url('listings/create') }}" class="inline-block bg-yellow hover:bg-yellow-light rounded-full ml-auto px-8 py-3 text-sm font-semibold no-underline text-black">New listing</a>
            </div>
        </div>

    </div>
</nav>

<div class="bg-blue-light px-2 py-4">
    <div class="flex items-center justify-between flex-wrap container mx-auto">
    
        <div class="flex items-center flex-no-shrink text-white mr-6">
            <a href="{{ url('/') }}" class="flex items-center no-underline text-white">
                <svg class="h-8 w-auto mr-2 fill-current" xmlns="http://www.w3.org/2000/svg" width="512" height="474" viewBox="0 0 512 474">
                    <g>
                        <path d="M214.685 383.828C189.856 383.828 169.656 404.028 169.656 428.857 169.656 453.686 189.856 473.886 214.685 473.886 239.514 473.886 259.714 453.686 259.714 428.857 259.713 404.028 239.513 383.828 214.685 383.828zM214.685 448.742C203.719 448.742 194.798 439.82 194.798 428.855 194.798 417.889 203.72 408.968 214.685 408.968 225.65 408.968 234.572 417.89 234.572 428.855 234.572 439.822 225.65 448.742 214.685 448.742zM372.63 383.828C347.801 383.828 327.601 404.028 327.601 428.857 327.601 453.686 347.801 473.886 372.63 473.886 397.459 473.886 417.659 453.686 417.659 428.857 417.658 404.028 397.458 383.828 372.63 383.828zM372.63 448.742C361.664 448.742 352.743 439.82 352.743 428.855 352.743 417.889 361.665 408.968 372.63 408.968 383.596 408.968 392.517 417.89 392.517 428.855 392.517 439.822 383.595 448.742 372.63 448.742zM383.716 146.755L203.567 146.755C196.624 146.755 190.996 152.383 190.996 159.326 190.996 166.269 196.625 171.897 203.567 171.897L383.716 171.897C390.659 171.897 396.287 166.269 396.287 159.326 396.287 152.382 390.659 146.755 383.716 146.755zM373.911 212.035L213.373 212.035C206.43 212.035 200.802 217.663 200.802 224.606 200.802 231.549 206.43 237.177 213.373 237.177L373.91 237.177C380.853 237.177 386.481 231.549 386.481 224.606 386.481 217.664 380.853 212.035 373.911 212.035z"/>
                        <path d="M506.341,90.744 C501.547,84.86 494.443,81.486 486.852,81.486 L95.278,81.486 L87.37,43.097 C85.719,35.089 80.257,28.365 72.756,25.108 L17.579,1.158 C11.209,-1.609 3.806,1.314 1.043,7.682 C-1.723,14.052 1.2,21.456 7.567,24.219 L62.745,48.17 L123.571,343.431 C125.967,355.059 136.323,363.499 148.196,363.499 L449.362,363.499 C456.305,363.499 461.933,357.871 461.933,350.928 C461.933,343.985 456.305,338.357 449.362,338.357 L148.197,338.357 L140.798,302.441 L451.69,302.441 C463.562,302.441 473.919,294.001 476.314,282.373 L511.477,111.698 C513.008,104.266 511.136,96.627 506.341,90.744 Z M451.69,277.301 L135.619,277.301 L100.458,106.627 L486.851,106.627 L451.69,277.301 Z"/>
                    </g>
                </svg>
                <span class="font-semibold text-xl tracking-tight">MarketPlace</span>
            </a>
        </div>

        <form action="" class="flex flex-grow">
            {{ csrf_field() }}

            <div class="flex flex-grow rounded overflow-hidden">
                <input type="text" placeholder="Search your product" name="query" class="p-4 flex-grow">
                <button type="submit" class="bg-grey-light hover:bg-grey-lightest text-black px-8">Search</button>
            </div>
        </form>

    </div>
</div>